<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="NI Setup"
           Manufacturer="National Instruments"
           Version="$(var.ProductVersion)"
           UpgradeCode="{13E06543-6EAB-48F8-8A8D-688D7818B1F5}"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of NI Setup is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ALLUSERS" Value="1" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="NI Setup">
        <Component Id="NISetupExecutableComponent" Bitness="always64">
          <File Id="NISetupExecutable"
                Source="$(var.PublishDirectory)\NIInstallerTech.exe"
                Name="NI Setup.exe"
                KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="NISetupProgramsFolder" Name="NI Setup">
        <Component Id="NISetupShortcutComponent" Guid="*">
          <Shortcut Id="NISetupShortcut"
                    Name="NI Setup"
                    Target="[INSTALLFOLDER]NI Setup.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="RemoveNISetupProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKLM"
                         Key="Software\National Instruments\NI Setup"
                         Name="Installed"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="NISetupDesktopShortcutComponent" Guid="*">
        <Shortcut Id="NISetupDesktopShortcut"
                  Name="NI Setup"
                  Target="[INSTALLFOLDER]NI Setup.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM"
                       Key="Software\National Instruments\NI Setup"
                       Name="DesktopShortcutInstalled"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <CustomAction Id="LaunchNISetup"
                  FileRef="NISetupExecutable"
                  ExeCommand=""
                  Impersonate="yes"
                  Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="LaunchNISetup"
              After="InstallFinalize"
              Condition="NOT Installed AND UILevel &gt;= 3" />
    </InstallExecuteSequence>

    <Feature Id="MainFeature" Title="NI Setup" Level="1">
      <ComponentRef Id="NISetupExecutableComponent" />
      <ComponentRef Id="NISetupShortcutComponent" />
      <ComponentRef Id="NISetupDesktopShortcutComponent" />
    </Feature>
  </Package>
</Wix>